body {
  background-color: brown;
  color:white;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  background-color: grey;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  padding: 1em;
  font-size: 5em;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: black;
  letter-spacing: 0.1em;
}
.aside_header_div:hover > h3 {
  animation-name: rotate;
  transform-origin: 25%;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

a:link {
  color: hsl(30, 70%, 70%);
}

a:visited {
  color: hsl(25, 60%, 60%);
}

a:hover {
  color: hsl(25, 90%, 90%);
}

a:active {
  color: hsl(25, 100%, 100%);
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
}

img {
    max-width: 350px;
    max-height: 250px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
